<!-- This is a a11y Change: added aria-label to say what is the purpose of the top of the page -->
<nav class="menu" aria-label="navigation bar">
  <!-- This is a Semantic HTML Change -->
  <ul>
    <li><a [routerLink]="['/']">Home</a></li>
    <li><a [routerLink]="['/about']">About</a></li>
    <li><a [routerLink]="['/login']">Login</a></li>
    <li><a [routerLink]="['/contact']">Contact</a></li>
      <!-- <li><a href="/">Home</a></li>
      <li><a href="about.html">About</a></li>
      <li><a href="login.html">Login</a></li>
      <li><a href="https://google.com">Google</a></li> -->
      <!-- This is a a11y Change: added a skip to content link to skip to main content -->
  </ul>
</nav>
